
.kgs-instance-disclaimer {
  display: inline-block; 
  font-size: small;
  color: var(--icon-text-color);
  text-align: center;
  padding: 10px 20px;
}

.kgs-instance-disclaimer a {
  color: var(--link-default-color)
}

.kgs-instance-disclaimer a:hover {
  color: var(--link-hover-color);
}
